@import '../style/variables.scss';

$icon-header-size: 28px;
$defaut-space-between-elements: 16px;

div.header-bar {
  width: 100vw;
  background-color: $base-color;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  border-bottom: 1px solid #383a3b;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    margin-left: $defaut-space-between-elements;
  }

  div.profile {
    margin-right: $defaut-space-between-elements;
    font-weight: $font-medium;

    div.photo {
      border-radius: 50%;
      background-color: $secundary-color;
      height: 40px;
      width: 40px;
      margin: auto 8px;

      img {
        border-radius: 50%;
        max-width: 100%;
        height: auto;
      }
    }
  }
}
