.container {
  position: relative;
  margin-top: 5px;

  .input-container {
    position: absolute;
    right: 0;
    top: 45px;
    display: flex;
    align-items: center;
  }

  .input-space {
    margin-bottom: 50px;
  }

  label {
      opacity: 0;
  }
}
