.container {
  position: relative;
  margin-top: 5px;

  .inputContainer {
    position: absolute;
    right: 0;
    top: 45px;
    display: flex;
    align-items: center;
  }

  &.inputSpace {
    margin-bottom: 50px;
  }

  label {
      opacity: 0;
  }
}
