@import './variables.scss';

$default-height: 24px;
$button-height: 36px;

label {
  font-style: normal;
  font-weight: $font-medium;
}

a,
button {
  cursor: pointer;
}

input,
textarea,
select {
  border: none;
  border-radius: $default-border-radius;
  background-color: $secundary-color;
  font-size: $font-paragraph;
  color: $font-color;
  padding: 4px 8px;
}

button {
  height: $button-height;
  padding: 0 12px;
  margin: auto 4px;
  border: none;
  border-radius: $default-border-radius;
  background-color: $secundary-color;
  font-size: $font-paragraph;
  font-weight: $font-medium;
  color: #fff;

  &:hover {
    background-color: lighten($color: $secundary-color, $amount: 5);
  }

  &.primary {
    background-color: $primary-color;

    &:hover {
      background-color: lighten($color: $primary-color, $amount: 5);
    }
  }

  &.icon {
    background-color: transparent;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: lighten($color: $secundary-color, $amount: 5);
    }
  }
}

input,
select {
  height: $default-height;
  margin: auto 4px;
}

input[type='radio'] {
  height: 16px;
  margin: 4px;
}

textarea {
  resize: none;
}
